- ajax_grid @pages, :grid_name => 'pages' do
  - title "Listing of proposed pages for app"
  - panel do
    .gz_buttons_top
      .gz_button= action_function "Approve", "notify_user", :class => 'send_message'
    .clear
  - rows do |page|
    - select_column :id, :style => 'width: 45px;'
    - row_number_column :style => 'width 45px;'
    - column "Name", :sort_key => "name" do
      = link_to page.name, page
    - column "Description", :description
    - if_empty do
      No pages to display at this time
  - panel do
    = pagination_links

