%h1 Grid examples
- grid 'pages', :url => pages_path(:format => :grid)

%br
%br

- grid "row_numbers", :height => 200

%br/
= link_to 'New page', new_page_path

:javascript
  var notify_user = function(page_id) {
    alert('You have chosen to modify record #' + page_id);
  }
