- ajax_grid @pages do
  - title "Row Number Grid Example"
  - panel do
    .gz_buttons_top
      .gz_button= action_function "Approve", "notify_user", :class => 'send_message'
    .clear
  - rows do |page|
    - row_number_column :style => 'width: 45px;'
    - column "Name" do
      = link_to page.name, page
    - column "Description", :description
    - if_empty do
      No pages to display at this time
  - panel do
    = pagination_links

